
<div class="card">
 <div class="card-header">
     <span> Admin Panel</span>
     <br />

     <div class="admin-tab">
         <nav>

            <div class="row">
                    <div class="col-md-6">
                            
                            <button type="button" class="btn btn-block"  [ngClass]="(toggleNav === 'products') ? 'btn-success' : 'btn-outline-success'" (click)="changeNav('products')" >Products</button>

                    </div>      
                    <div class="col-md-6">
                            <button type="button" class="btn btn-block"  [ngClass]="(toggleNav === 'orders') ? 'btn-success' : 'btn-outline-success'" (click)="changeNav('orders')" >Orders</button>
                        </div>     
                 </div>
    
    
    
                </nav>

</div>
   <div class="card-body">
<div id="product-tab" *ngIf="toggleNav === 'products' ">
        

</div>
<div id="order-tab" *ngIf="toggleNav === 'orders'">
</div>
</div>


   </div>





</div>




<router-outlet></router-outlet>
