
<!--carousel-->
<div class="container">
  <!--carousel Wrapper-->
  <div id="carousel-example-2" data-slide-to="0" class="carousel-slide carousel-fade" data-ride="carousel">
      <!--indicators-->
    <ol class="carousel-indicators">
        <li  data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    </ol>  
   <!--/.indicators-->
   <!--Slides-->
   <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
        <div class="view">
            <img class="d-block w-100" src="../../app/banner_img/beach.jpg" alt="First silde">
            <div class="mask rgba-black-light"></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive"> 
                Long Sleeve Blouse
            </h3>
            <p>Explore your passsion with an  aunthentic feel</p>
        </div>
    </div>

   </div>

  </div>














</div>