<div class="jumbotron">
<h1 class="display-4"> drehendz </h1>
<p class="lead">CEO: Dwayne Mclaren</p>
</div>

<div class="card">

    <div class="card-head" >
         <h2 class="text-center" > About us </h2>
         <p>  Founded on March 1 2019, drehendz the online clothing and electronic store sells authentic wears in female and male clothing rich in texture  and durability. Trendy styles and exotic fashion for an affordable cost, drehendz also offer world wide door to door delivery to major capital and cities. An exceptional 24 hours customer serivce representative greets you to assists with any queries, issues or concerns. tranied certified technician available at wharehouse store locations to thoroughly test device functionality to be 100% operational before the completeion of customer orders. 
                </p>

         <p> </p>




    </div>





</div>

<router-outlet></router-outlet>
