<div class="row">
  <div class="col-3">
    <product-filter [category]="category"></product-filter>
  </div>
  <div class="col">
    <ng-container *ngFor="let p of filteredProducts">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img [src]="p.payload.val().imageUrl" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{p.payload.val().title}}</h5>
            <h5 class="card-title">{{p.payload.val().category}}</h5>
            <p class="card-text">{{p.payload.val().price | currency: 'JMD': true}}</p>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary"> Add to cart</button>
          </div>
        </div>

      </div>
    </ng-container>
  </div>
</div>