       <div class="card" *ngIf="product.payload.val().title "  style="width: 18rem;">
        <img [src]="product.payload.val().imageUrl" class="card-img-top" *ngIf="product.payload.val().imageUrl"  alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.payload.val().title}}</h5>
          <h5 class="card-title">{{product.payload.val().category}}</h5>
          <p class="card-text">{{product.payload.val().price | currency: 'JMD': true}}</p>
        </div>
        <div class="card-footer">
          <button *ngIf="getQuantity() === 0; else updateQuantity"
           (click)="addToCart()" class="btn btn-primary"> Add to cart</button>
        </div>
        <ng-template #updateQuantity>
       <div class="row no-gutters">
         <div class="col-2"(click)="addToCart()" class="btn btn-primary">+</div>
         <div class="col text-center"> {{getQuantity() }} in cart</div>
         <div class="col-2"(click)="removeFromCart()" class="btn btn-primary">-</div>
       </div>

        </ng-template>
      </div>


    
  



