<h1>Hello</h1>
<div *ngIf="auth.user$ | async as user; else login">
  <pre>{{user | json }}</pre>  

    <hr>
    <button class="button" (click)="auth.signOut()">Sign Out</button>
</div>

<ng-template  #login>

<div class="container pt-3">
    <div class="row justify-content-sm-center">
        <div class="col-sm-10 col-md-6">
            <div class="card border-info">
                <div class="card-header">Login</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <img src="../../../assets/logo_img/drehendz logo.png">
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control mb-2" placeholder="Email" #userEmail required autofocus >
                            <input type="password" class="form-control mb-2" placeholder="Password" #userPassword required>
                            <button class="btn btn-lg btn-primary btn-bloc mb-1" (click) = "authService.login(userEmail.value, userPassword.value)">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button class="button" (click)="auth.googleSignin()"> Login With Google</button>
    <br>
<button class="button" (click)="auth.facebookSignin()">Login With Facebook</button>

</ng-template> 
