
<div class="card">
<div class="card-header"> <span>Carts</span>  </div>

<div class="card-body">

    <div *ngIf ="!isCartChange"> <p> Cart is empty </p>  </div>
</div>

<div *ngIf ="isCartChange">
    <div class="row">
     
      <table class="table table-striped table-dark">
          <thead>
           <tr>
               <th scope="col">Product</th>
               <th scope="col">Price</th>
               <th scope="col">Quantity</th>
               <th scope="col">Action</th>
           </tr>
          </thead>
          <tbody>
          <tr *ngFor ="let Cart of Carts">
              <td>  {{Cart.name}} </td>
              <td> {{Cart.Price}} </td>
              <td>  {{Cart.Quantity}} </td>
              <td>
                  <button type="button" class="btn btn-danger">Remove</button>
              </td>
          </tr>
     

          <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>Sub Total:</td>
                <td>{{ subTotal | currency:'JMD':'code' }}</td>

          </tbody>
      </table>
    </div>

    <button *ngIf="Carts.length > 0" type="button" class="btn btn-success">Proceed to checkout</button>
</div>



















</div>
