<p>
    <a routerLink="/admin-products/new" class="btn btn-primary"> New Product </a>
</p>

<!-- <p>
    <input #query (keyup)="filter(query.$key)" type="text" class="form-control" placeholder="search..">
</p> -->
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let p of filteredProducts">
            <td> {{p.$value.title}} </td>
            <td> {{p.$value.price}} </td>
            <td>
                <a [routerLink]="['/admin-products', p.$key]">Edit
                </a>
            </td>
        </tr>
    </tbody>
</table>