<p>
    <a routerLink="/admin-products/new" class="btn btn-primary"> New Product </a>
</p>

<p>
    <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="search..">
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col" >price</th>
            <th scope="col">edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let p of filteredProducts ">
            <td> {{p.payload.val().title}} </td>
            <td> {{p.payload.val().price}} </td>
            <td>
                <a [routerLink]="['/admin-products', p.key]">edit
                </a>
            </td>
        </tr>
    </tbody>
</table>