<div class="card">
        <div class="card-header">
        
        
       <div class="row">
         <div class="col-md-6">
      <div class="form-group">
        <label for="product_select"> Products</label>
        <select class="form-control" name="" id="product_select" [(ngModel)]="selectedProducts">
          <option *ngFor="let product of Products" [ngValue]="product"  > {{product}} </option>
        </select>
      </div>
      
         </div>
       </div>
        
        </div>
        
        <br>
        <div class="container">
         
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">  
              <label for="product_select">Catergories:</label>
             </div>
             <ul class="list-group">
               <li class="list-group-item">Beachwear</li>
               <li class="list-group-item">Electronics</li>
               <li class="list-group-item">Apparel</li>
             </ul>
          </div>
          </div>
        
           <br>
      
          <div class="row">
            <div class="col-sm-3 ">
             <img src="../../../assets/img/low waist triangle .jpg" class="img-fluid" width="560px" height="640px">
             <div class="card-body text-center no-padding">
               <p class="card-title">
                 <strong>
                   Low Waist Bikini
                 </strong>
               </p>
               <p class="card-text">
                  one piece low waist swimwear
                </p>
             </div> 
             <div class="card-footer">
                <span class="left"> $3500 </span>
                <span class="right"> <a placement="top" mdbTooltip="Add to Wishlist"></a> </span>
              </div>
            </div>
            <div class="col-sm-3">
              <img src="../../../assets/img/rhinestone1 resize.jpg" class="img-fluid" >
              <div class="card-body text-center no-padding">
               <p class="card-title">
                 <strong>
                   Mesh Rhinestone
                 </strong>
                 </p>
                 <p class="card-text">
                   two piece Mesh Rhinestone
                </p>
               </div>
            
              <div class="card-footer">
                  <span class="left"> $3000 </span>
                  <span class="right"> <a placement="top" mdbTooltip="Add to Wishlist"></a> </span>
                </div>
            </div>
            <div class="col-sm-3">
              <img src="../../../assets/img/army green bikni.jpg"class="img-fluid"  >
              <div class="card-body text-center no-padding">
                  <p class="card-title">
                    <strong>
                      Army Green Bikini
                    </strong>
                    </p>
                    <p class="card-text">
                        two piece swimwear Bikini
                      </p>
                  </div>
            
            <div class="card-footer">
              <span class="left"> $3000 </span>
              <span class="right"> <a placement="top" mdbTooltip="Add to Wishlist"></a> </span>
            </div>
            </div>
      
            <div class="col-sm-3">
              <img src="../../../assets/img/patchwork.jpg" class="img-fluid">
              <div class="card-body text-center no-padding">
                <p class="card-title">
                  <strong>
                    Patchwork 
                  </strong>
                </p>
                <p class="card-text">
                  one piece swimwear Beachwear
                </p>
              </div>
              <div class="card-footer">
                <span class="left">$3000</span>
                <span class="right"> <a placement="top" mdbTooltip="Add to Wishlist"></a> </span>
                <a placement="top" mdbTooltip="Add to Cart" container="body"></a>
              </div>
            </div>
          </div>
        





<router-outlet></router-outlet> 


