
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark">

    <!--Navbar brand-->
<a class="navbar-brand" routerLink="/">drehendz</a>

  <!--Collapse button-->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
<span  class="navbar-toggler-icon"></span>
</button>

<!--Collapsible content-->
<div class="collapse navbar-collapse" id="basicExampleNav">


<!--Links-->
<ul class="navbar-nav  ml-auto">
   
    <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="[ '/products/all-products' ]">Products
              </a>
          </li>   
         
</ul>

<!--Links-->

<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <div>
          <a class="nav-link" href="javascript:;;" [routerLink]="['/products/favorite-products']">
            <i class="fa fa-heart">
              <span class="mt-2"> {{productService.navbarFavProdCount}}</span>
            </i>
          </a>
        </div>

      </li>

    <li class="nav-item">
        <div>
          <a class="nav-link" href="javascript:;;" [routerLink]="['/products/cart-items']">
            <i class="fa fa-shopping-cart">
              <span class="mt-2"> {{productService.navbarCartCount}}</span>
            </i>
          </a>
        </div>
      </li>

   

    <li class="nav-item" *ngIf="authService.isLoggedIn()">
            <a class="nav-link" [routerLink]="['/users']">
              <i class="fa fa-user mr-1"></i> 
             </a>
          </li>

          <li class="nav-item" *ngIf="!authService.isLoggedIn()">
            <a class="nav-link" [routerLink]="[ '/login' ]">
              login </a>
          </li>

          <li class="nav-item dropdown" *ngIf="authService.isLoggedIn()" >
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{dispayName}}</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" routerLink="/">My Orders</a>
              <a class="dropdown-item" *ngIf="authService.isAdmin()" routerLink="/">Manage Orders</a>
              <a class="dropdown-item" (click)="logout()">Log out</a>

              </div>
          </li>
         
         

         
        
</ul>

</div>




</nav>



